*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	font-size: 12px;
	font-family: arial;
}
/*导航栏部分*/
.page-header{
	padding-top: 20px;
	padding-right: 10px;
	text-align:right;
}

.page-header nav a{
	font-size: 13px
	font-weight:700;
	color:#333;
	margin-left: 20px;
	text-decoration: underline;
}
/*更多产品*/
.page-header nav a :last-child{
	display: inline-block;
	width: 60px;
	height: 23px;
	background: #38f;
	color:#fff;
	text-decoration: none;
	text-align: center;
	line-height: 23px;
}

.page-mainer{
	flex:1;
	text-align: center;
	margin-top: 145px;
}
/*logo图片*/
.page-mainer .logo-container img{
	width: 270px;
	height: 129px;
	margin-bottom: 22px;
}

.form-container form{
	display: flex;
	justify-content: center;
}
/*输入栏*/
.form-container .form-search{
	display: inline-block;
	width: 539px;
	height: 34px;
	border:1px solid #b6b6b6;
	border-right: 0;
	outline: none;
	line-height: 34px;
	padding-left: 10px;
}
/*百度一下按钮*/
.form-container .submit-btn{
	display: inline-block;
	width: 100px;
	height: 36px;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	border: 1px solid #3385ff;
	background: #3385ff;
	outline: none;
	cursor: pointer;
}
/*鼠标移动到按钮出现变暗和阴影*/
.form-container .submit-btn:hover{
	opacity: 0.8;
	background: #0d5fdd;
	border-bottom: 1px solid #4169E1;
	box-shadow: 1px 1px 1px #ccc;
}
/*脚部*/
.page-footer{
	text-align: center;
	padding-bottom: 50px;
}

.page-footer .footer-info{
	margin-top: 15px;
	color: #999;
}

.page-footer .footer-info a{
	color: #999;
	margin-right: 15px;
}
.page-footer .footer-info a:last-child{
	margin-left: 0;
}
